*{
    margin: 0;
    padding: 0;
}

/* ////////////////////////////////////home//////////////////////////////// */
.context_p{
    padding: 20px;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#home{
    background-color: black;
    max-height: 100em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 30px 0px;

    /* padding: 40px; */
}
.text {
    width: 50%;
    margin-right: 40px;
}
.text h1{
        font-size: 9vw;
        color: #09ffde;
        padding: 10px;
}
.text h1 span{
    color: white;
}
.text p{
    font-size: 2.4vw;
    padding: 20px;
}
.logo{
    width: 50%;
    padding-left: 30px;
}
.logo img{
    display: block;
    width: 100%;
    margin: auto;

}
.btnhome{
    background: none;
    font-size: 2vw;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px 40px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 30px;
}
.btnhome:hover{
    background-color: #d4db4a;
    color: black;
}



/* //////////////////////////////////////services/////////////////////////// */
#services{
    background-color: #1d2549;
    padding: 40px;
}

#services h1{
     font-size: 6vw;
     margin-left: 60px;
     color: white;
}
.serv{
    margin: 40px;
}
.serv img{
    width: 20vw;
}
.serv p{
    font-size: 1.5vw;
    color: white;
    text-align: center;
    margin: 20px;
}
#services_P{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.content img{
    width: 18vw;
}


/* ///////////////////////////partner//////////////////////////// */
#partner{
    background-color: #1d2549;
    padding: 40px;
}

#partner h1{
    font-size: 6vw;
    margin-left: 60px;
    color: white;
    padding-bottom: 40px;
}
#partner_p{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.part{
    margin: 20px 70px;
}
.part img{
    width: 10vw;
}
.part p{
    font-size: 1.5vw;
    color: white;
    text-align: center;
    margin: 20px 0px;
}
.google img
{
    width: 12vw;
}
.wordpress img{
    width: 7vw;
}
.wordpress p{
    margin: 20px 0px;
}
.cloud img{
    width: 12vw;
    /* height: 170px; */
}
.mail img{
    width: 8vw;
}
.github img{
   width: 8vw;
}

/* ////////////////////////////////////////////appoiment///////////////////////////////////////// */


#appoiment{
    background-image: url('img_fiver/A_bannner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-left: 100px;
}
.img_a img{
    background-image: url('img_fiver/over\ strange.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
}
.img_a{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.text_a{
    width: 70%;
}
.text_a h1{
    font-size: 7vw;
    color: #09ffde;
}
.text_a h1 span{
    color: white;
}
.btn_a{
    background: none;
    font-size: 1.3vw;
    border: 1px solid white;
    border-radius: 10px;
    padding: 23px 55px;
    color: white;
    margin: 10px;
    cursor: pointer;
    text-decoration: underline;
}
.btn_a:hover{
    background-color: #d4db4a;
    color: black;
}


/* /////////////////////////////////////////////////IT//////////////////////////////////// */

#it{
    background-image: url('img_fiver/it_banner.jpg');
    padding: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  

}
#it h1{
    font-size: 3.2vw;
    text-align: center;
    color: white;
    margin: 10px;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 2px 3px 2px rgb(0,0,0,0.6);
}
.list{
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    color: white;
    padding: 20px;
}
.list li{
    font-size: 1.8vw;
}

/* ///////////////////////////////////////////////csolution////////////////////////////////////////////// */

#contact{
    padding: 60px;
    background-color: #1d2549;
    /* color: white; */
}
#contact h1{
    font-size: 3vw;
    text-align: center;
    color: white;
    margin: 10px;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 2px 3px 2px rgb(0,0,0,0.6);
}
#sol{
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    /* color: white; */
    padding: 20px;
}
.sol1{
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    padding: 30px;
}
.sol1 h2{
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 60px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color:#8a36c2;
}
.sol1 p{
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.sol11 h2{
    margin-bottom: 30px;
}
.sol11 p{
    font-size: 1.3rem;
    /* margin-top: 30px; */
}
.sol1 li{
    font-size: 1.2rem;
    padding: 5px;
}
.lis{
    margin-bottom: 20px;
}


/* ////////////////////////////////////////////////Work////////////////////////////////// */
#work{
    padding: 40px;
    background-color: rgb(16 16 16);
}#work h1{
    font-size: 3.2vw;
    color: white;
    margin: 10px;
    padding: 20px;
}
.work_p{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.banner img{
    width: 90%;
}
.bna_logo{
    width: 40%;
}
.bna_logo img{
    width: 100%;
}
.info{
    width: 40%;
}
.info h2{
    font-size: 2.5vw;
    color: rgba(239, 230, 230, 0.6);
    font-family:'Times New Roman', Times, serif;
    padding: 10px 0px;
}
.info p{
    padding: 2px;
    margin: 5px;
    font-size: 1.5vw;
    color: white;
}

/* ////////////////////////////////footer///////////////////////////////////////// */

footer{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
footer p{
    font-size: 1.4vw;
    padding: 10px;
}
.btn_f{
    background: none;
    font-size: 1.4vw;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    border: none;
}
.btn_f:hover{
    background-color:#1d2549;
}
